html,
body {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 0 0;
}

.home__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.active {
    border-bottom: 4px solid rgb(12, 127, 108);
  }

@media screen and (min-width: 1024px) {
    .logo{
        width: 20%;
    }
    .header__main {
        /* #32CD32   #5DA130  #3CAA3C #4CBB17*/
        /*background-color: #00d200;*/
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 60%;
        margin: auto;
        margin-bottom: 30px;
    }
    .header__components {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: center;
    }
    .header__components ul {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
    .header__components ul li div{
        font-size: 35px;
    }

    .header__components ul li {
        display: inline-block;
    }

    .header__components ul li a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
    .header__burger {
        display: none;
    }

    .header__registering {
        display: inline-block;
    }

}
.logo img{
    width: 100%;
}


@media screen and (max-width: 1024px) and (min-width:769px) {
    .logo{
        width: 20%;
    }
    .header__main {
        /* #32CD32   #5DA130  #3CAA3C #4CBB17*/
        /*background-color: #00d200;*/
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
    .header__components {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: center;
    }
    .header__components ul {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
    .header__components ul li div{
        font-size: 35px;
    }

    .header__components ul li {
        display: inline-block;
    }

    .header__components ul li a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
    .header__burger {
        display: none;
    }

    .header__registering {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    
    .logo{
        width: 20%;
    }
    .header__main {
        display: flex;
        justify-content: space-between;
        width: 98%;
        margin: auto;
        /*background-color: #00d200;*/
        
    }
    .header__components {
        display: none;
        flex-direction: row;
    }

    .header__components ul li {
        display: none;
        margin-right: 20px;
    }

    .header__language {
        display: none;
    }

    .header__burger {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .header__burger div {
        width: 20%;
    }
    .header__registering {
        display: none;
    }
} 
.burger__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 80%;
    top: 55px;
    left: 100%;
    background-color: #00d200;
    z-index: 50;
    transition: 1s;
}
.burger__menu.active {
    display: flex;
    position: fixed;
    height: 100%;
    width: 80%;
    top: 55px;
    background-color: #e5dcdc;
    z-index: 50;
    transition: 1s;
    left: 20%;
}
.burger__menu ul {
    display: flex;
    flex-direction: column;
}
.burger__menu ul li {
    display: inline-block;
    margin-bottom: 25%;
    font-size: 150%;
}
.burger__menu ul li a {
    text-decoration: none;
    color: black;
}
.params__flight {
    display: flex;
}
.direction {
    display: flex;
    flex-direction: row;
}
.register {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.user__nick a {
    text-decoration: none;
    color: black;
}

.novetly__img img {
    width: 100%;
}
.authorize__main {
    display: none;
}

.authorize__main.active {
    display: flex;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.authorize__header div img {
    width:70%;
}

.authorize__header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__main div {
    width: 100%;
}

.btn__authorize  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.btn__authorize button {
    border-radius: 5px;
    width: 180px;
    background-color: rgb(245, 73, 4);
    border: 1px solid rgb(243, 71, 2);
    font-size: 18px;
    height: 50px;
    cursor: pointer;
}

.btn__authorize button:hover {
    background-color: rgb(216, 61, 0);
}

.register__or__log {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-span {
    cursor: pointer;
    color: rgb(230, 61, 0);
}

.active-span:hover {
    border-bottom: 2px solid rgb(230, 61, 0);
}

@media screen and (min-width: 1024px) {
    .authorize__name {
        font-size: 40px;
    }
    .modal__content {
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        border-radius: 10px;
    }
    .register__or__log {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        align-items: center;
        height: 60px;
    }
}
@media screen and (max-width: 1024px) {
    .authorize__name {
        font-size: 30px;
    }
    .modal__content {
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 45%;
    }
    .register__or__log {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        align-items: center;
        height: 60px;
    }
}
@media screen and (max-width: 768px) {
    .modal__content {
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
    }
}
@media screen and (max-width: 425px) {
    .register__or__log {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        align-items: center;
        height: 60px;
    }
}
.list__FAQ__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.FAQ__main {
    display: flex;
    margin: 25px auto;
    flex-direction: column;
    justify-content: center;
}
.FAQ__description {
    overflow: auto;
    background-color: #e5dcdc;
    height: 35px;
}
.FAQ__name {
    text-align: center;
}
.FAQ__main {
    margin-top: 40px;
    width: 80%;
}
@media screen and (min-width: 1024px) {
    .FAQ__main {
        width: 80%;
    }
    .FAQ__name {
        font-size: 35px;
    }
}
.admin__panel__main {
    width: 100%;
}
.about__us__edit__main {
    width: 100%;
}
.name__menu {
    width: 100%;
    background-color: #aaa;
    min-height: 30px;
    align-items: center;
    font-size: large;
}
.about__us__main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.layout {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout footer {
    margin-top: auto;
    z-index: 100;
}

@media screen and (min-width: 1440px) {
    .about__us__main div {
        width: 20%;
    }
}
@media screen and (min-width: 1024px) {
    .about__us__main div {
        width: 40%;
    }
}
@media screen and (min-width: 768px) {
    .about__us__main div {
        width: 60%;
    }
}

@media screen and (min-width: 425px) {
    .about__us__main div {
        width: 80%;
    }
}
.blog__edit__set__photo {
    margin-top: 20px;
}

.flight__edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flight__edit input {
    width: 130px;
}

.list__responce__main {
    display: flex;
    justify-content: center;
    width: 100%;
}
@media screen and (min-width: 1024px) {
    .responce__main {
        width: 60%;
    }
}
@media screen and (max-width: 1024px) {
    .responce__main {
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .responce__main {
        width: 80%;
    }
}
@media screen and (max-width: 425px) {
    .responce__main {
        width: 100%;
    }
}
.responce__main {
    display: flex;
    background-color: bisque;
    justify-content: center;
}
.responce__main {
    display: flex;
    flex-direction: column;
}
.responce__name__author__and__description {
    display: flex;
    flex-direction: column;
}
.responce__name__author {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
}
.responce__description {
    margin-top: 5px;
}

.icon-account {
    font-size: 26px;
}

.icon-account a {
    color: black;
}

.home__main {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.list__novetly {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.novetly__main {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    background-color: #00d200;
    border-radius: 15px;
}

@media screen and (min-width: 1024px) {
    .home__content {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .home__content {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .home__content {
        display: flex;
        flex-direction: column;
        width: 98%;
        margin: auto;
    }
}
.home__benefits__img {
    width: 100%;
}

.home__benefits__img img {
    width: 100%;
    border-radius: 15px;
}
.novetly__main {
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .novetly__main {
        width: 28%;
    }
}
@media screen and (max-width: 768px) {
    .novetly__main {
        width: 45%;
    }
}

.novetly__img img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.novetly__description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.home__list__blog__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.home__benefits__company__name {
    display: flex;
    justify-content: center;
}

.home__benefits__company__name {
    display: flex;
    justify-content: center;
}

.home__list__blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    background-color: rgb(189, 186, 186);
}
@media screen and (min-width: 768px) {
    .home__blog__main {
        display: flex;
        flex-direction: column;
        width: 29%;
        margin: 10px auto;
        background-color: white;
        border-radius: 15px;
    }
}
@media screen and (max-width: 768px) {
    .home__blog__main {
        display: flex;
        flex-direction: column;
        width: 48%;
        margin: 10px auto;
        background-color: white;
        border-radius: 15px;
    }
}
.home__blog__main img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.home__blog__description {
    display: flex;
    justify-content: center;
    font-size: larger;
    justify-content: center;
    text-align: center;
}
.novetly__description{
    display: flex;
    justify-content: center;
    text-align: c;
}

  .swiper {
    width: 100%;
    height: 100%;
  }
  .responce__home__main{
    width: 100%;
    height: 100%;
  }
  .my_Swiper{
    display: flex;
    flex-direction: row;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.blog__main__{
    margin: auto;
}

.blog__main_{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
}

.blog__main_ img{
    width: 100%;
    height: auto;
}

@media screen and (min-width:1024px) {
    .blog__main_{
        width: 60%;
    }
    
}

@media screen and (max-width:1024px){
    .blog__main_{
        width: 80%;
    }
}

@media screen and (max-width:768px){
    .blog__main_{
        width: 98%;
    }
}

.responce__home__main{
    width: 60%;
}


.footer__main div.main{
    color:blue;
    cursor: pointer;

}
.footer__blog div{
    cursor: pointer;
}
.footer__FAQ div{
    cursor: pointer;
}
@media screen and (min-width:1024px) {
    .footer__main details{
        display: none;
    }
    .footer__main{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 60%;
        justify-content:space-between;
        margin-top: 50px;
        border-top-width: 5px;
        border-color: #888;
    }
}
@media screen and (max-width:1024px) and (min-width: 768px) {
    .footer__main details{
        display: none;
    }
    .footer__main{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 80%;
        justify-content:space-between;
        margin-top: 50px;
        border-top-width: 5px;
        border-color: #888;
    }
}
@media screen and (max-width:768px) {
    .footer__list{
        display: none;
    }
    .footer__main{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 98%;
        justify-content:space-between;
        margin-top: 50px;
        border-top-width: 5px;
        border-color: #888;
    }
    .footer__main details{
        margin-bottom: 25px;
    }
}
.blog__main__{

}