html,
body {
    height: 100%;
}
body {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 0 0;
}

.home__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.active {
    font-weight: 600;
}
.active img{
    width: 70px;
}

.dropdown-header {
    position: relative;
    display: inline-block;
}

.dropdown-menu-header {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    border: 1px solid silver;
    background-color: #FBFBFE;
    position: absolute;
    top: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    z-index: 100;
    padding: 5px 10px;
}

.dropdown-menu-header a {
    padding: 10px 0 5px 0;
}

.dropdown-header:hover .dropdown-menu-header {
    opacity: 1;
    visibility: visible;
    background-color: rgb(255, 255, 255);
}
@media screen and (min-width: 1400px) {
    .logo {
        width: 40%;
    }
    .header__main {
        display: flex;
        align-items: center;
        width: 60%;
        margin: auto;
    }
    .header__components {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header__components ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__components ul li div {
        font-size: 45px;
    }

    .header__components ul li {
        display: inline-block;
        cursor: pointer;
    }

    .header__components ul li a {
        display: flex;
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
    .header__burger {
        display: none;
    }
    
    .header__registering {
        display: inline-block;
    }
}
@media screen and (min-width: 1024px) and (max-width:1400px) {
    .logo {
        width: 30%;
    }
    .header__main {
        display: flex;
        align-items: center;
        width: 60%;
        margin: auto;
    }
    .header__components {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header__components ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__components ul li div {
        font-size: 35px;
    }

    .header__components ul li {
        display: inline-block;
        cursor: pointer;
    }

    .header__components ul li a {
        display: flex;
        text-decoration: none;
        font-size: 15px;
        color: black;
    }
    .header__burger {
        display: none;
    }
    
    .header__registering {
        display: inline-block;
    }
}

.logo img {
    width: 100%;
    cursor: pointer;
}

.logo {
    width: 25%;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .logo {
        width: 25%;
    }
    .header__main {
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    .header__components {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header__components ul {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    .header__components ul li div {
        color: black;
    }

    .header__components ul li {
        display: inline-block;
    }

    .header__components ul li a {
        display: flex;
        text-decoration: none;
        font-size: 15px;
        color: black;
    }
    .header__burger {
        display: none;
    }

    .header__registering {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 40%;
    }
    .header__main {
        display: flex;
        justify-content: space-between;
        width: 98%;
        margin: auto;
    }
    .header__components {
        display: none;
        flex-direction: row;
    }

    .header__components ul li {
        display: none;
        margin-right: 20px;
    }

    .header__language {
        display: none;
    }

    .header__burger {
        display: flex;
    }
    .header__registering {
        display: none;
    }
}
.burger__menu {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 80%;
    left: 100%;
    background-color: #fd9400;
    z-index: 50;
    transition: 2s;
    position: fixed;
}
.burger__menu.actived {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: 80%; 
    background-color: #FBFBFE;
    z-index: 50;
    transition: 2s;
    left: 20%;
}
.burger__admin__panel{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.burger__admin__panel div{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.burger__admin__panel div div{
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;

}
.burger__admin__panel div div a{
    text-align: left;
    color: #000;
    flex-direction: column;
    text-decoration: none;
    
}
.burger__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.burger__component a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.burger__admin__panel{
    margin-top: 10px;
}
.burger__exit__main{
    font-size: 60px;
}
.burger__menu__list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
}
.burger__component{
    display: flex;
    font-size: 16px;
    height: 50px;
    align-items: flex-start;
    justify-content: flex-start;

}
/*
.burger__menu div div {
    display: flex;
    font-size: 30px;
    margin-top: 30px;
    z-index: 60;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom:green;
}*/
.burger__set__language{
    height: 10px;
}
.params__flight {
    display: flex;
}
.burger__exit__main{
    display: flex;
    justify-content: right;
    width: 100%;
}
.direction {
    display: flex;
    flex-direction: row;
}
.register {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.user__nick a {
    text-decoration: none;
    color: black;
}

.novetly__img img {
    width: 100%;
}
.authorize__main {
    display: none;
}

.authorize__main.active {
    display: flex;
    position: fixed;
    z-index: 51;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.authorize__header div img {
    width: 70%;
}

.authorize__header div {
    display: flex;
    align-items: center;
}

.register__main div {
    width: 100%;
}

.btn__authorize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.btn__authorize button {
    border-radius: 5px;
    width: 180px;
    background-color: #084887;
    border: 1px solid #084887;
    font-size: 18px;
    height: 50px;
    cursor: pointer;
    color: #FBFBFE;
}

.btn__authorize button:hover {
    background-color: #FBFBFE;
    color:#084887;
    transition: all ease 0.3s;
}

.register__or__log {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-span {
    cursor: pointer;
    color: #084887;
}

.active-span:hover {
    border-bottom: 2px solid #084887;
}

@media screen and (min-width: 1024px) {
    .authorize__name {
        font-size: 40px;
    }
    .modal__content {
        display: flex;
        flex-direction: column;
        background-color: #FBFBFE;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        border-radius: 10px;
    }
    .register__or__log {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        align-items: center;
        height: 60px;
    }
}
@media screen and (max-width: 1024px) {
    .authorize__name {
        font-size: 30px;
    }
    .modal__content {
        display: flex;
        flex-direction: column;
        background-color: #FBFBFE;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 45%;
    }
    .register__or__log {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        align-items: center;
        height: 60px;
    }
}
@media screen and (max-width: 768px) {
    .modal__content {
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
    }
}
@media screen and (max-width: 425px) {
    .register__or__log {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        align-items: center;
        height: 60px;
    }
}
.list__FAQ__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.FAQ__name {
    text-align: center;
}
@media screen and (min-width: 1024px) {
    .FAQ__main {
        margin: auto;
        width: 60%;
    }
    .FAQ__name {
        font-size: 35px;
    }
}
@media screen and (max-width: 1024px) and (min-width:769px){
    .FAQ__main {
        margin: auto;
        width: 80%;
    }
    .FAQ__name {
        font-size: 30px;
    }
}
@media screen and (max-width: 768px) {
    .FAQ__main {
        margin: auto;
        width: 98%;
    }
    .FAQ__name {
        font-size: 25px;
    }
}
.admin__panel__main {
    width: 100%;
}
.about__us__edit__main {
    width: 100%;
}
.name__menu {
    width: 100%;
    background-color: #aaa;
    min-height: 30px;
    align-items: center;
    font-size: large;
}
.about__us__main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.layout {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout footer {
    margin-top: auto;
}

@media screen and (min-width: 1024px) {
    .about__us__main div {
        width: 60%;
    }
}
@media screen and (max-width: 1024px) {
    .about__us__main div {
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .about__us__main div {
        width: 98%;
    }
}

.blog__edit__set__photo {
    margin-top: 20px;
}

.flight__edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flight__edit input {
    width: 130px;
}

.list__responce__main {
    display: flex;
    justify-content: center;
    width: 100%;
}
@media screen and (min-width: 1024px) {
    .responce__main {
        width: 60%;
    }
}
@media screen and (max-width: 1024px) {
    .responce__main {
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .responce__main {
        width: 80%;
    }
}
@media screen and (max-width: 425px) {
    .responce__main {
        width: 100%;
    }
}
.responce__main {
    display: flex;
    background-color: bisque;
    justify-content: center;
}
.responce__main {
    display: flex;
    flex-direction: column;
}
.responce__name__author__and__description {
    display: flex;
    flex-direction: column;
}
.responce__name__author {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
}
.responce__description {
    margin-top: 5px;
}

.icon-account {
    font-size: 26px;
}

.icon-account a {
    color: black;
}

.home__main {
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .home__content {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .home__content {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .home__content {
        display: flex;
        flex-direction: column;
        width: 98%;
        margin: auto;
    }
}
@media screen and (min-width: 768px) {
    
    .home__benefits__img {
        width: 100%;
    }

    .home__benefits__img img {
        width: 100%;
        border-radius: 15px;
    }
    .home__benefits__img__mini{
        display: none;
    }   
}
@media screen and (max-width: 768px) {
    
    .home__benefits__img__mini {
        width: 100%;
    }

    .home__benefits__img__mini img {
        width: 100%;
        border-radius: 15px;
    }
    .home__benefits__img{
        display: none;
    }   
}

.home__benefits__company__name {
    display: flex;
    justify-content: center;
}

.home__benefits__company__name {
    display: flex;
    justify-content: center;
}
.novetly__description {
    display: flex;
    justify-content: center;
    text-align: c;
}

.swiper {
    width: 100%;
    height: 100%;
}
.my_Swiper {
    display: flex;
    flex-direction: row;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FBFBFE;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog__main__ {
    margin: auto;
}

.blog__main_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.blog__main_ img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1024px) {
    .blog__main_ {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .blog__main_ {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .blog__main_ {
        width: 98%;
    }
}

.footer-block {
    display: flex;
    justify-content: space-between;
}

.footer-logo img {
    cursor: pointer;
    width: 120px;
    height: 70px;
}

.footer-logo span {
    display: flex;
    margin-top: 20px;
    font-size: 15px;
}

.footer-link p {
    cursor: pointer;
    font-size: 17px;
}

.footer-link p:hover {
    color:#fd9400;
    transition: all ease 0.1s;
}

.footer-info div {
    display: flex;
    align-items: center;
}

.footer-info div p {
    font-size: 17px;
}

.footer-info div i {
    font-size: 22px;
    margin-right: 15px;
    margin-top: 5px;
    color: #fd9400;
}

.footer-social p {
    font-size: 17px;
}

.footer-icon-social {
    display: flex;
}

.footer-icon-social div {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}


.footer-icon-social div:nth-child(2) a {
    font-size: 28px;
    margin-top: 5px;
    cursor: pointer;
    color: #000;
}

.footer-icon-social div a {
    font-size: 25px;
    margin-top: 5px;
    cursor: pointer;
    color: #000;
}

.footer-icon-social div:hover {
    background-color: #fd9400;
    transition: all ease 0.3s;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-protected {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #F58A07;
}

@media screen and (min-width: 1024px) {
    .footer-main {
        margin: auto;
        margin-top: 50px;
        width: 60%;
        margin-bottom: 50px;
    }

    .logo-none {
        display: none;
    }

    .footer-logo {
        margin-top: 10px;
    }

    .footer-logo span {
        margin-bottom: 10px;
    }

    .footer-protected {
        display: none;
    }

}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .footer-main {
        margin: auto;
        margin-top: 50px;
        width: 80%;
    }

    .logo-none-second {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .footer-main {
        margin: auto;
        width: 98%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .footer-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .footer-instagram {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .logo-none-second {
        display: none;
    }
}


.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    display: flex;
    align-items: center;
}

.lang-select div div fieldset {
    border: none;
}

.icon-lang {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

.title-lang {
    font-size: 17px;
}

.header__components ul li div {
    font-size: 0px;
}
.register__or__log div{
    margin-left: 5px;
}
.register__main.log__main div.password{
    margin-top: 20px;
}
.register__mainlog__main div.btn__authorize{
    margin-top: 20px;
}
.list__novetly__main{
    display: flex;
    flex-direction: column;
}
.list__novetly{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.novetly__main:hover{
    transform: scale(1.1);
}
.novetly__main{
    transition: transform .2s;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.novetly__description{
    display: flex;
    justify-content: center;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .novetly__main{
        width: 31%;
    }
    .novetly__description{
        font-size: larger;
    }
}
@media screen and (max-width: 768px) {
    .novetly__main{
        width: 47%;
    }
    .novetly__description{
        font-size:medium;
    }
}
.novetly__img img{
    border-radius: 15px;
    width: 100%;
}
.novetly__main div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.responce__home__main{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-around;
}
.responce__home__user__icon{
    font-size: 250%;
}
.responce__home__name__author{
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    font-size: large;
    font-weight:bolder;
}
.responce__home__description{
    display: flex;
    justify-content: left;
    text-align: left;
}
.responce__home__author__with__description{
    display: flex;
    width: 80%;
    flex-direction: column;
}
.home__list__blog__main{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.home__list__blog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.home__blog__main img{
    width: 100%;
    border-radius: 15px;
}
.home__blog__main{
    transition: transform .2s;
}
.home__blog__main:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    .home__blog__main{
        display: flex;
        flex-direction: column;
        width: 31%;
        margin: auto;
    }
    
    .home__blog__description{
        text-align: center;
        font-size: larger;
    }
}
@media screen and (max-width: 768px) {
    .home__blog__main{
        display: flex;
        flex-direction: column;
        width: 48%;
        margin: auto;
    }
    
    .home__blog__description{
        text-align: center;
        font-size: medium;
    }
}

@media screen and (min-width:768px) {
    .mini__blog__main{
        transition: transform .2s;
    }
    .mini__blog__main:hover{
        transform: scale(1.05);
    }
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 25px;
}
.mini__blog__name{
    font-weight: 600;
}
.blog__container{
    background-color: #F5F5F5;
}
.mini__blog__main{
    background-color: white;
    border-radius: 15px;
    min-height: 450px;
}

.mini-block-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-block-info div {
    width: 90%;
}

.mini-blog-details {
    cursor: pointer;
    color: #084887;
}

.mini-blog-details:hover {
    text-decoration: underline;
}

.mini-blog-details span {
    margin-left: 15px;
}


.mini__blog__img img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    max-height: 200px;
}
.mini__blog__date{
    font-size: 13px;
    margin-top: 10px;
}
.mini__blog__description{
    margin-top: 10px;
}
.mini__blog__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini__blog__main{
    margin: auto;
}
@media screen and (min-width: 1024px) {
    .list__blog__main{
        display: flex;
        width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        margin: auto;
        padding: 30px;
    }
    .mini__blog__name{
        font-size:20px;
        font-weight: 600;
        margin-top: 15px;
    }

    .mini__blog__main{
        width: 30%;
    }
}
@media screen and (max-width: 1024px) {
    .list__blog__main{
        display: flex;
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        margin: auto;
    }
    .mini__blog__name{
        font-size:20px;
        font-weight: 600;
        width: 100%;
        margin-top: 10px;
    }
    .mini__blog__main{
        margin-top: 30px;
        margin-bottom: 20px;
        width: 30%;
    }
}
@media screen and (max-width:768px) {
    .list__blog__main{
        display: flex;
        width: 98%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        margin: auto;
    }
    .mini__blog__name{
        font-size:20px;
        font-weight: 600;
        width: 100%;
        margin-top: 10px;
    }
    .mini__blog__main{
        margin-top: 20px;
        width: 47%;
    }
}
@media screen and (max-width:550px) {
    .list__blog__main{
        display: flex;
        width: 98%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        margin: auto;
    }
    .mini__blog__name{
        font-size:20px;
        font-weight: 600;
        width: 100%;
        margin-top: 10px;
    }
    .mini__blog__main{
        margin-top: 20px;
        width: 98%;
    }

    .mini-block-info div {
        width: 95%;
    }
}
@media screen and (min-width: 1024px) {
    .admin__panel__main{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
    }
}
@media screen and (max-width: 1024px) {
    .admin__panel__main{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
}@media screen and (max-width: 768px) {
    .admin__panel__main{
        display: flex;
        flex-direction: column;
        width: 98%;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    .admin__panel__main summary{
        margin-bottom: 15px;
    }
    .alert__main{
        display: flex;
        position:fixed;
        top: 5%;
        left: 40%;
        width: 20%;
        justify-content: center;
        flex-direction: row;   
        background-color:darkgray;
        min-height: 5%;
        border-radius: 15px;
        z-index: 99;
    }
    .alert__text{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        text-align: center;
    }
    .alert__exit{
        width: 10%;
        font-size: 35px;
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 30px;  
        margin-bottom: 10px;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }
}
@media screen and (max-width: 768px) {
    .alert__main{
        display: flex;
        position: fixed;
        top: 5%;
        left: 20%;
        width: 60%;
        justify-content: center;
        flex-direction: row;   
        background-color:darkgray;
        min-height: 5%;
        border-radius: 15px;
        z-index: 99;
    }
    .alert__text{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        text-align: center;
    }
    .alert__exit{
        width: 10%;
        font-size: 35px;
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 30px;  
        margin-bottom: 10px;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }
}
.layout{
    position: relative;
}
.header_register{
    font-size: 25px;
    color:#000;
}
.home__title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-home-title {
    padding-top: 40px;
}

@media screen and (min-width:768px) {
    .home__title{
        font-size: 35px;
    }
}
@media screen and (max-width:768px) {
    .home__title{
        font-size: 24px;
    }
}
.footer-main{
    margin-top: 60px;
}
@media screen and (min-width:768px) and (max-width:850px) {
    .header__register__with__language{
        width: 80%;
        margin-left: 5%;
    }
}
@media screen and (min-width:850px) and (max-width: 1024px) {
    .header__register__with__language{
        width: 70%;
        margin-left: 5%;
    }
}
@media screen and (min-width:1300px) {
    .header__register__with__language{
        width: 50%;
        margin-left: 7%;
    }
}
@media screen and (min-width:1024px) and (max-width:1300px) {
    .header__register__with__language{
        width: 80%;
        margin-left: 5%;
        justify-content: space-between;
    }
}
.header__register__with__language{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__components{
    justify-content: space-between;
}
.home__blog__container{
    position: static;
    width: 100%;
    background-color: rgb(241, 237, 237);
}
@media screen and (min-width:1024px) {
    .bread__crumbs__main{
        display: flex;
        margin: auto;
        margin-top: 30px;
        width: 60%;
    }   
}
@media screen and (max-width:1024px) {
    .bread__crumbs__main{
        display: flex;
        margin: auto;
        margin-top: 30px;
        width: 80%;
    }   
}
@media screen and (max-width:768px) {
    .bread__crumbs__main{
        display: flex;
        margin: auto;
        margin-top: 30px;
        width: 98%;
    }   
}
@media screen and (min-width: 500px) {
    .authorize__logo{
        width: 50%;
        margin-left: 30%;
    }    
}
@media screen and (max-width: 500px) {
    .authorize__logo{
        width: 80%;
        margin-left: 20%;
    }    
}
.authorize__logo img{
    width: 100%;
}
.form-position{
    margin: auto;
}
.header__components{
    align-items: center;
}
.header__main{
    align-items: center;
    padding: 5px;
}
.header__register__with__language{
    align-items: center;
}
.header__burger{
    align-items: center;
}
.header_register{
    align-items: center;
}
.lang-select{
    align-items: center;
}
.change-position{
    margin-left: 5px;
    margin-right: 2px;
    margin-block-end: 3px;
}
@media screen and (max-width: 578px) {
    .form-block-date{
        margin-left: 1%;
    }
}
.flights-block{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.flight__bread__crumbs{
    justify-content: center;
}
.items-block{
    justify-content: left;
}

.blog__social__networks{
    display: flex;
}

.blog__social__networks button{
    margin-right: 10px;
}

.header_register{
    margin-top: 5px;
    cursor: pointer;
}
.mini__blog__description{
    width: 85%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.alert__main{
    z-index: 500;
}
.company__benefits__img{
    display: flex;
    width: 50px;
    margin: auto;
}
.company__benefits__img img{
    width: 50px;
}
.company__benefits__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.company__benefits__desctiption{
    display: flex;
    justify-content: center;
    text-align:center;
}
@media screen and (min-width: 768px) {
    .company__benefits__main{
        width: 30%;
    }
    
    .company__benefits__name{
        display: flex;
        margin: 15px auto;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .company__benefits__main{
        width: 48%;
    }
    .company__benefits__name{
        display: flex;
        margin: 15px auto;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
}
.list__company__benefits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}