@media screen and (min-width: 1024px) {
    .container-flight {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 60%;
    } 
}
@media screen and (max-width: 1024px) {
    
    .container-flight {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width: 768px) {
    .container-flight {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98%;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    .block-position-price{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
    }
}

@media screen and (max-width: 768px) {
    .block-position-price{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
}

@media screen and (max-width: 576px) {
    .block-position-price{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .flight-links-block {
        display: flex;
        flex-direction: column;
    }

    .flight-links-block div {
        margin-top: 15px;
    }
}

.block-position-price div:nth-child(1) {
    display: flex;
    align-items: center;
}

.block-position-price div:nth-child(1) h1:nth-child(1) {
    margin-right: 10%;
}

.block-position-price div:nth-child(1) span {
    font-size: 30px;
    margin-right: 10%;
    display: flex;
}

.block-position-price div:nth-child(2) {
    width: 180px;
    height: 40px;
    background-color: rgb(245, 73, 4);
    border-radius: 5px;
}

.block-position-price div:nth-child(2) span {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 6px;
}
.block-comfort {
    display: flex;
    flex-direction: column;
}

.flight-image img {
    width: 100%;
    border-radius: 5px;
}
 
.items-comfort {
    width: 100%;
}

 .item-comfort {
    display: flex;
    justify-content: space-between;
}

.item-comfort div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.item-comfort div img {
    width: 50px;
    height: 50px;
}

.item-comfort div span {
    font-size: 15px;
    margin-top: 5px;
}

.image-status img, .image-status span {
    display: none;
}

.flight-maps {
    margin-top: 50px;
}

.flight-maps h2 {
    font-weight: 400;
    font-size: 22px;
}

.flight-maps iframe{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    border: none;
}

.flight-maps iframe:hover {
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
    transition: all ease 0.3s;
}

.flight-description {
    width: 100%;
    margin-top: 50px;
}

.flight-description h2 {
    font-weight: 400;
    font-size: 22px;
}

.flight-description p {
    font-size: 17px;
}

.block-schedule {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.schedule-with-to {
    display: flex;
    flex-direction: column;
}

.schedule-with-to span:nth-child(1) {
    font-size: 20px;
}

.time-schedule {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-date {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-date thead tr th,
.table-date tbody td {
    text-align: center;
}

.table-date thead tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table-date tbody tr td,
.table-date tbody tr th,
.table-date tfoot tr td,
.table-date tfoot tr th,
.table-date thead tr td,
.table-date thead tr th {
    padding: 8px;
}

.table-date thead tr,
.table-date tbody td {
    font-size: 15px;
}

.create-date {
    width: 80px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px 5px;
}

.change-date {
    margin-left: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}

.status-btn  button{
    cursor: pointer;
    background: transparent;
    border: none;
}

.status-btn:hover {
    background-color: rgb(235, 235, 235);
}

.status-active {
    background-color: rgb(235, 235, 235);
}

.flight-links {
    margin-top:40px;
}

.flight-links p {
    font-size: 22px;
}

.flight-links-block {
    display: flex;
    justify-content: space-between;
}

.flight-links-block div span {
    font-size: 18px;
}

.flight-links-block div div {
    margin-top: 10px;
}

.flight-links-block div div a {
    color: #F58A07;
    text-decoration: none;
}

.flight-links-block div div a:hover {
    text-decoration: underline;
}

