.container-flight {
    display: flex;
    justify-content: center;
}

.block-flight {
    width: 70%;
}

.block-position-price {
    display: flex;
    align-items: center;
}

.block-position-price div {
    margin-right: 23%;
}

.block-position-price div:nth-child(1) {
    display: flex;
    align-items: center;
}

.block-position-price div:nth-child(1) h1:nth-child(1) {
    margin-right: 15%;
}

.block-position-price div:nth-child(1) span {
    font-size: 30px;
    margin-right: 15%;
    display: flex;
}

.block-position-price div:nth-child(2) {
    width: 180px;
    height: 40px;
    background-color:#00d200;
    border-radius: 10px;
}

.block-position-price div:nth-child(2) span {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 6px;
} 

.items-comfort {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-comfort {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.item-comfort img {
    width: 60%;
}

.item-comfort span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
}

.flight-description p {
    font-size: 17px;
}

.block-schedule {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.schedule-with-to {
    display: flex;
    flex-direction: column;
}

.schedule-with-to span:nth-child(1) {
    font-size: 20px;
    
}

.schedule-with-to span:nth-child(2) {
    font-size: 15px;
    margin-top: 5px;
}

.time-schedule {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-date {
    width: 70%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-date thead tr th, 
.table-date tbody td {
    text-align: center;
}

.table-date thead tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table-date tbody tr td,
.table-date tbody tr th, 
.table-date tfoot tr td, 
.table-date tfoot tr th, 
.table-date thead tr td, 
.table-date thead tr th {
    padding: 8px;
}

.table-date thead tr,
.table-date tbody td {
    font-size: 15px;
}

.status-cursor {
    cursor: pointer;
}

.status-cursor:hover {
    background-color: #e7e7e7;
}

.table-active {
    background-color:#f5f5f5;
}


@media (max-width:992px) {
    
    .block-flight {
        width: 90%;
    }

    .block-position-price {
        display: flex;
        justify-content: space-between;
    }

    .block-position-price div {
        margin-right: 0;
    }
}

@media (max-width:768px) {
    
    .block-flight {
        width: 98%;
    }
   
    .block-position-price div:nth-child(2) {
        width: 180px;
        height: 40px;
        background-color:#00d200;
        border-radius: 10px;
    }

    .block-position-price div:nth-child(2) span {
        font-size: 25px;
        display: flex;
        justify-content: center;
        margin-top: 6px;
    } 

    .item-comfort img {
        width: 80px;
        height: 80px;
    }

    .items-comfort {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .items-comfort div {
        margin-right: 10px;
        margin-bottom: 10px;
    }   
    
    .table-date {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .item-comfort img {
        width: 70px;
        height: 70px;
    }
    
    .block-position-price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .table-date {
        width: 98%;
    }
}