.container-flight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-flight {
    width: 75%;
}

.block-position-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91%;
}

.block-position-price div {
    margin-right: 18%;
}

.block-position-price div:nth-child(1) {
    display: flex;
    align-items: center;
}

.block-position-price div:nth-child(1) h1:nth-child(1) {
    margin-right: 10%;
}

.block-position-price div:nth-child(1) span {
    font-size: 30px;
    margin-right: 10%;
    display: flex;
}

.block-position-price div:nth-child(2) {
    width: 180px;
    height: 40px;
    background-color: #00d200;
    border-radius: 10px;
}

.block-position-price div:nth-child(2) span {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 6px;
}
.block-comfort {
    display: flex;
    flex-direction: column;
}

.flight-image img {
    width: 75%;
    border-radius: 5px;
}
 
.items-comfort {
    width: 75%;
}

 .item-comfort {
    display: flex;
    justify-content: flex-start;
}

.item-comfort div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.item-comfort div img {
    width: 40%;
}

.item-comfort div span {
    font-size: 15px;
    margin-top: 5px;
}

.image-status img, .image-status span {
    display: none;
}

.flight-maps h2 {
    font-weight: 400;
}

.flight-maps iframe{
    width: 75%;
    height: 400px;
    border-radius: 5px;
    border: none;
}

.flight-maps iframe:hover {
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
    transition: all ease 0.3s;
}

.flight-description {
    width: 76%;
}

.flight-description h2 {
    font-weight: 400;
    font-size: 20px;
}

.flight-description p {
    font-size: 17px;
}

.block-schedule {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.schedule-with-to {
    display: flex;
    flex-direction: column;
}

.schedule-with-to span:nth-child(1) {
    font-size: 20px;
}

.schedule-with-to span:nth-child(2) {
    font-size: 15px;
    margin-top: 5px;
}

.time-schedule {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-date {
    width: 75%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-date thead tr th,
.table-date tbody td {
    text-align: center;
}

.table-date thead tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table-date tbody tr td,
.table-date tbody tr th,
.table-date tfoot tr td,
.table-date tfoot tr th,
.table-date thead tr td,
.table-date thead tr th {
    padding: 8px;
}

.table-date thead tr,
.table-date tbody td {
    font-size: 15px;
}

.create-date {
    width: 80px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px 5px;
}

.change-date {
    margin-left: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}

.status-btn  button{
    cursor: pointer;
    background: transparent;
    border: none;
}

.status-btn:hover {
    background-color: rgb(235, 235, 235);
}

.status-active {
    background-color: rgb(235, 235, 235);
}

@media (max-width: 992px) {
    .block-flight {
        width: 90%;
    }

    .block-position-price {
        display: flex;
        justify-content: space-between;
    }

    .block-position-price div {
        margin-right: 0;
    }

    .block-position-price {
        width: 85%;
    }

    .flight-image img {
        width: 85%;
    }

    .items-comfort {
        width: 85%;
    }

    .items-comfort div img {
        width: 45%;
    }
    
    .flight-maps iframe {
        width: 90%;
    }

    .flight-maps {
        width: 85%;
    }

    .flight-maps iframe {
        width: 100%;
    }

    .table-date {
        width: 85%;
    }

    .flight-description {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .block-flight {
        width: 95%;
    }

    .block-position-price div:nth-child(2) {
        width: 180px;
        height: 40px;
        background-color: #00d200;
        border-radius: 10px;
    }

    .block-position-price div:nth-child(2) span {
        font-size: 25px;
        display: flex;
        justify-content: center;
        margin-top: 6px;
    }

    .table-date {
        width: 90%;
    }

    .flight-description {
        width: 99%;
    }
    
    .item-comfort div {
        display: flex;
        flex-direction: column;
    }

    .flight-image img {
        width: 100%;
    }

    .items-comfort {
        width: 100%;
    }

    .flight-maps iframe {
        width: 100%;
    }

    .flight-maps {
        width: 100%;
    }

    .block-position-price {
        width: 100%;
    }

    .flight-description {
        width: 100%;
    }

    .table-date {
        width: 100%;
    }

}

@media (max-width: 576px) {
    .block-position-price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .table-date {
        width: 98%;
    }
      
    .flight-maps iframe {
        width: 99%;
        height: 300px;
    }
   
    .block-position-price div {
        margin-bottom:10px;
    }
    .item-comfort div {
        width: 100%;
    }
    
}
