.flights-sort-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction:column;
}

.form-btn {
    display: flex;
    margin-top: 20px;
}

.form-btn div {
    display: flex;
    flex-direction: column;
}

.form-btn div button {
    width: 200px;
    height: 35px;
    font-size: 17px;
    border: 1px solid silver;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.form-btn div button:hover {
    border: 1px solid #00c000;
    background-color: #00c000;
    color: #fff;
}

.first-active {
    border: 1px solid #00c000;
    background-color: #00c000;
    color: #fff;
}

.btn-start {
    background-color: #fff;
    color: #000;
    border: 1px solid silver;
}

.start {
    color: rgb(77, 77, 77);
    font-size:20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-inputs {
    display: flex;
}

.form-inputs-finish {
    display: flex;
}

.form-start {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-right:5px;
}

.form-start input {
    height: 25px;
    border: 1px solid silver;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    color: rgb(77, 77, 77);
}

.form-start input:hover {
    background-color: rgb(233, 233, 233);
}

.form-start-date input:hover {
    background-color: rgb(233, 233, 233);
}

.form-start-date {
    display: flex;
    flex-direction: column;
    width: 18%;
    margin-right: 5px;
}

.form-start-date input {
    height: 25px;
    border: 1px solid silver;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    color: rgb(77, 77, 77);
    cursor: pointer;
}

.form-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15%;
}

.form-search-none {
    display: none;
}

.form-search button {
    height: 35px;
    background-color: #00d200;
    color: #fff;
    border: 1px solid #00d200;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.form-search button:hover {
    background-color: #00c000;
    transition: all 0.3s ease;
}

.flights-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.items-flight {
    width: 60%;
    margin-top: 20px;
}

.item-flight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-top: 5px;
}

.item-time {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 24px;
}

.item-date {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 15px;
    color: slategray;
}

.item-position {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 21px;
}

.btn-buy {
    display: flex;
    justify-content: center;
}

.btn-buy button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 35px;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #00d200;
    background-color:#00d200;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-buy button span {
    margin-left: 20px;
}

.btn-buy button:hover {
    background-color: #00c000;
    transition: all 0.3s ease;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.page-more {
    width: 60%;
}

.page-none {
    display: none;
}

.page-more button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #00d200;
    background-color:#00d200;
    color: white;
    cursor: pointer;
}

.page-more button:hover {
    background-color: #00c000;
    transition: all 0.3s ease;
}

.page-wrapper-none {
    display: none;
}

.page-wrapper {
    display: flex;
    margin-top: 10px;
}

.page-wrapper a {
    text-decoration: none;
    color:#000;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: 18px;
    border: 1px solid silver;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 1px;
}

.page-current {
    border: 2px solid #00c000;
    background-color: #6de46d;
    font-weight: bold;
}

.page:hover {
    border: 2px solid #00c000;
    font-weight: bold;
}


@media (max-width: 992px) {
    .items-flight {
        width: 70%;
    }

    .page-more {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .items-flight {
        width: 80%;
    }

    .page-more {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .items-flight {
        width: 90%;
    }

    .page-more {
        width: 90%;
    }

    .item-time{
        font-size: 22px
    }

    .item-position {
        font-size: 18px;
    }
    .page {
        width: 40px;
        height: 40px;
        font-size: 17px;
        border-radius: 20px;
    }
}
