.form-flights-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    position: absolute;
    width: 62.5%;
    height: 80px;
    left: 200px;
    top: 520px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
}

.flights-sort-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-checkboxes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-checkboxes div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-checkboxes div span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #111111;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.form-inputs-button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.form-input-text {
    position: relative;
}

.form-input-text input {
    box-sizing: border-box;
    width: 140px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.form-input-text label {
    position: absolute;
    left: 10px;
    top: 15px;
    padding: 0 0.3rem;
    cursor: text;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #6A6A6A;
    transition: top 100ms ease-in,left 100ms ease-in, font-size 100ms ease-in;
    background-color: #FFFFFF;
}

.position-text:hover {
    border: 1px solid #A5A5A5;
    transition: all ease 0.4s;
}

.form-input-text input:focus {
    border: 1px solid #2F82FF;
    outline: none;
    transition: all ease 0.4s;
}

.form-input-text input:focus ~ label,
.position-text:not(:placeholder-shown).position-text:not(:focus)~.label-text {
    top:-8px;
    font-size: 13px;
} 

.form-swap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 0px;
    gap: 10px;
}

.form-swap img {
    cursor: pointer;
    width: 20px;
    height: 20px;
} 

.dropdown-passengers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 48px;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.dropdown-select-passegers {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown-select-passegers input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.dropdown-passegers-text {
    position: absolute;
    left: 10px;
    top: 15px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #6A6A6A;
    transition: top 100ms ease-in,left 100ms ease-in, font-size 100ms ease-in;
    background-color: #FFFFFF;
    padding: 0 0.3rem;
}

.dropdown-icon-user {
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}

.dropdown-icon-user img {
    width: 16px;
    height: 16px;
}

.dropdown-select-passegers input:hover {
    border: 1px solid #A5A5A5;
    transition: all ease 0.4s;
}

.dropdown-select-passegers input:focus {
    border: 1px solid #2F82FF;
    outline: none;
    transition: all ease 0.4s;
}

.dropdown-passegers-input:focus ~ .dropdown-passegers-text,
.dropdown-passegers-input:not(:placeholder-shown).dropdown-passegers-input:not(:focus)~.dropdown-passegers-text {
    top:-8px;
    font-size: 13px;
} 

.dropdown-list-passegers {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    width: 280px;
    height: 114px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    position: absolute;
    top: 110%;
    left: 0;
}

.dropdown-list-item-passegers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 240px;
}

.dropdown-list-item-passegers-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #4C4C4C;
}

.dropdown-list-item-passegers-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.dropdown-list-item-passegers-count:nth-child(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #4C4C4C;
}

.dropdown-list-item-passegers-minus-and-plus img{
    width: 18px;
    height: 18px;
    margin-top: 5px;
    cursor: pointer;
}

.form-button-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.form-button-search button {
    padding: 14px 24px;
    height: 48px;
    background: #2F82FF;
    border: none;
    border-radius: 10px;
    flex: none;
    order: 6;
    flex-grow: 1;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.form-button-search button:hover {
    background: #599BFF;
    transition: all ease 0.4s;
}

.flights {
    margin-top: 100px;
}
/* 
.flights-sort-form {
    width: 60%;
} 
 
.form-flights {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.change-position {
    position: relative;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-position div {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: #FBFBFE;
    cursor: pointer;
}

.change-position div span {
    display: flex;
    justify-content: center;
    font-size: 27px;
    margin-top: 4px;
    color: #F58A07;
}

.form-block-position {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.form-position {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    width: 50%;
}

.form-position span {
    color: rgb(77, 77, 77);
    font-size: 19px;
    margin-bottom: 5px;
}

.form-flights{
    align-items: center;
}

.form-position input:hover {
    background-color: rgb(252, 252, 252);
    transition: all ease 0.3s;
}

.user-select{
    background-color: red;
    height: 400px;
}

.form-date input:hover {
    background-color: rgb(252, 252, 252);
    transition: all ease 0.3s;
}

.form-block-date {
    display: flex;
    width: 100%;
}

.form-date {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    width: 100%;
}

.form-date-none {
    display: none;
}

.form-date span {
    color: rgb(77, 77, 77);
    font-size: 19px;
    margin-bottom: 5px;
}

.form-date input {
    height: 25px;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    color: rgb(77, 77, 77);
    cursor: pointer;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative;
    z-index: 1;
}

.dropdown-list {
    background-color: rgb(255, 255, 255);
}

.dropdown-none {
    display: none;
}

.dropdown-select {
    height: 25px;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #FBFBFE;
    color: rgb(77, 77, 77);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    cursor: pointer;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid silver;
    background-color: #FBFBFE;
    position: absolute;
    top: 110%;
    left: 0;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.dropdown-list-item {
    display: flex;
    margin-top: 5px;
}

.dropdown-list-item div input {
    width: 50px;
}

.dropdown-btn-none {
    padding: 0 5px;
}

.dropdown-btn-none button {
    width: 120px;
    height: 30px;
    background-color: #F58A07;
    border-radius: 5px;
    border: 1px solid #F58A07;
    font-size: 16px;
    cursor: pointer;
    color: #FBFBFE;
}

.dropdown-btn-none button:hover {
    background-color: #F9AB55;
    border: 1px solid #F9AB55;
    transition: all ease 0.3s;
}

.count-place {
    display: flex;
}

.count-place div {
    width: 100%;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
}

.minus,
.plus {
    cursor: pointer;
}

.count-place .sum {
    width: 100px;
}

.form-search {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
}

.form-search button {
    height: 35px;
    background-color: #F58A07;
    border: 1px solid #F58A07;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    color: #FBFBFE;
}

.form-search button:hover {
    background-color: #F9AB55;
    border: 1px solid #F9AB55;
    transition: all ease 0.3s;
}
.flights-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 320px 120px;
    gap: 20px;
    background: #F4F5F7;
}
*/

.item-block {
    width: 70%;
}

.item-flight {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #FBFBFE;
}

.item-blocks {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.item-flight:hover {
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    transition: all ease 0.3s;
}

.item-border {
    position: relative;
    bottom: 7px;
    width: 29%;
    border-bottom: 1px solid silver;
}

.item-time {
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.item-start-time {
    display: flex;
    font-weight: 600;
}

.item-start-time span:nth-child(2) {
    margin-left: 28px;
    font-size: 25px;
}

.item-flight-time {
    display: flex;
    justify-content: center;
    width: 138px;
}

.item-flight-time span:nth-child(1) {
    margin-right: 10px;
    font-size: 22px;
}

.item-flight-time span:nth-child(2) {
    font-size: 20px;
}

.item-finish-time {
    display: flex;
    font-weight: 600;
}

.item-finish-time span:nth-child(1) {
    margin-right: 20px;
    font-size: 22px;
}

.item-date {
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-size: 15px;
}

.item-position {
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-size: 24px;
    font-weight: 700;
}

.item-street-position {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 12px;
}

.item-street-position div {
    word-wrap: break-word;
    width: 30%;
}


.item-street-position div:nth-child(2) {
    text-align: right;
}

.btn-buy {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.btn-flight-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-flight-info a {
    color: #000;
    font-size: 18px;
    color: #084887;
    margin-top: 30px;
}

.btn-flight-info a:hover {
    color: #031D44;
    transition: all ease 0.3s;
}

.free-place {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.free-place span {
    color: #F58A07;
}

.btn-buy-modal button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height:35px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #084887;
    border: 1px solid #084887;
    padding: 5px 10px;
    cursor: pointer;
    color: #FBFBFE;
}

.price-block {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #084887;
}

.btn-buy-modal button:hover {
    background-color: #FBFBFE;
    color: #084887;
    transition: all ease 0.3s;
}

.item-time span input {
    width: 60%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid silver;
}

.item-date span input {
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid silver;
}

.item-position span input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid silver;
}

.free-place span input {
    width: 10%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid silver;
}

.btn-buy div:nth-child(3) input {
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid silver;
}

.change-flight {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

.change-flight button {
    margin-left: 2px;
    border-radius: 10px;
    width: 120px;
    cursor: pointer;
    border: 1px solid silver;
    font-size: 14px;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.page-more {
    width: 60%;
}

.page-none {
    display: none;
}

.page-more button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #00d200;
    background-color: #00d200;
    color: white;
    cursor: pointer;
}

.page-more button:hover {
    background-color: #00c000;
    transition: all 0.3s ease;
}

.page-wrapper-none {
    display: none;
}

.page-wrapper {
    display: flex;
    margin-top: 10px;
}

.page-wrapper a {
    text-decoration: none;
    color: #000;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: 18px;
    border: 1px solid silver;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 1px;
}

.page-current {
    border: 2px solid #00c000;
    background-color: #6de46d;
    font-weight: bold;
}

.page:hover {
    border: 2px solid #00c000;
    font-weight: bold;
    transition: all ease 0.3s;
}

.admin-delete-flight button {
    margin-left: 2px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    border: 1px solid silver;
    font-size: 14px;
}

.flight-not-found {
    padding: 80px;
}

.flight-not-found p {
    text-align: center;
    font-size: 26px;
}
/* 
@media (max-width: 992px) {
    .items-flight {
        width: 99%;
    }

    .page-more {    
        width: 70%;
    }

    .flights-sort-form {
        width: 99%;
    }

    .form-flights {
        flex-direction: column;
    }

    .form-position {
        width: 50%;
    }

    .form-date,
    .form-people,
    .form-search {
        width: 100%;
    }

    .dropdown-list {
        position: absolute;
        top: 110%;
        left: 0;
    }

    .form-block-ticket,
    .form-block-contact,
    .form-block-bank {
        width: 90%;
    }

    .form-btn-back div {
        width: 92%;
    }
}
@media (max-width: 768px) {
    .items-flight {
        width: 99%;
    }

    .page-more {
        width: 80%;
    }

    .form-flights {
        flex-direction: column;
    }

    .dropdown-list {
        position: absolute;
        top: 110%;
        left: 0;
    }

    .btn-buy {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .btn-buy div {
        margin-top: 5px;
    }

    .item-flight {
        height: auto;
    }

    .btn-buy div:nth-child(3) button {
        width: 200px;
    }

    .btn-buy div:nth-child(3) button div {
        margin-bottom: 5px;
    }

    .from-block-input-number-email {
        display: flex;
        flex-direction: column;
    }

    .from-block-input-number-email div {
        width: 100%;
        margin-top: 10px;
    }

    .input-month-year-cvc div:nth-child(1),
    .input-month-year-cvc div:nth-child(2) {
        width: 50%;
    }

    .input-card {
        width: 100%;
    }

    .input-persone-card {
        width: 100%;
    }

    .buy-ticket button {
        width: 50%;
    }

    .item-start-time span:nth-child(2) {
        display: none;
    }

    .item-finish-time span:nth-child(1) {
        display: none;
    }

    .item-border {
        display: none;
    }

    .flight-not-found p {
        font-size: 23px;
    }
}

@media (max-width: 576px) {
    .items-flight {
        width: 99%;
    }

    .page-more {
        width: 90%;
    }

    .item-time {
        font-size: 22px;
    }

    .item-position {
        font-size: 18px;
    }
    .page {
        width: 40px;
        height: 40px;
        font-size: 17px;
        border-radius: 20px;
    }

    .form-block-position {
        display: flex;
        flex-direction: column;
    }

    .form-block-position div:nth-child(1) {
        margin-bottom: 2px;
    }

    .form-position {
        width: 99%;
    }

    .form-block-date {
        display: flex;
        flex-direction: column;
    }

    .form-block-date div {
        margin-bottom: 5px;
    }

    .form-date,
    .form-people,
    .form-search {
        width: 99%;
    }

    .form-btn {
        display: flex;
        flex-direction: column;
    }

    .form-btn div {
        margin-bottom: 10px;
    }

    .dropdown-list {
        position: absolute;
        top: 110%;
        left: 0;
    }

    .buy-ticket {
        display: flex;
        flex-direction: column;
    }

    .buy-ticket button {
        width: 100%;
        margin-top: 10px;
    }

    .flight-not-found p {
        font-size: 20px;
    }
}
@media screen and (min-width: 768px) {
    .where__until{
        display: flex;
    }   
} */