.flights {
    background-color: rgb(245, 245, 245);
}

.form-flights-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0e1419 url('../../../public/baner/bus-baner2.jpg') no-repeat center;
    background-size: cover;
    box-shadow: 0 5px 10px 0 rgb(199, 199, 199);
    padding: 10px 0;
    height: 400px;
}

.flights-sort-form {
    width: 60%;
}

.form-flights {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-block-position {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.form-position {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    width: 50%;
}

.form-position span {
    color: rgb(77, 77, 77);
    font-size: 19px;
    margin-bottom: 5px;
}

.form-flights{
    align-items: center;
}

.form-position input:hover {
    background-color: rgb(252, 252, 252);
    transition: all ease 0.3s;
}

.user-select{
    background-color: red;
    height: 400px;
}

.form-date input:hover {
    background-color: rgb(252, 252, 252);
    transition: all ease 0.3s;
}

.form-block-date {
    display: flex;
    width: 100%;
}

.form-date {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    width: 100%;
}

.form-date-none {
    display: none;
}

.form-date span {
    color: rgb(77, 77, 77);
    font-size: 19px;
    margin-bottom: 5px;
}

.form-date input {
    height: 25px;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    color: rgb(77, 77, 77);
    cursor: pointer;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative;
    z-index: 1;
}

.dropdown-list {
    background-color: rgb(255, 255, 255);
}

.dropdown-none {
    display: none;
}

.dropdown-select {
    height: 25px;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #fff;
    color: rgb(77, 77, 77);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    cursor: pointer;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid silver;
    background-color: #fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.dropdown-list-item {
    display: flex;
    margin-top: 5px;
}

.dropdown-list-item div input {
    width: 50px;
}

.dropdown-btn-none {
    padding: 0 5px;
}

.dropdown-btn-none button {
    width: 120px;
    height: 30px;
    background-color: rgb(245, 73, 4);
    border-radius: 5px;
    border: 1px solid rgb(245, 73, 4);
    font-size: 16px;
    cursor: pointer;
}

.count-place {
    display: flex;
}

.count-place div {
    width: 100%;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
}

.minus,
.plus {
    cursor: pointer;
}

.count-place .sum {
    width: 100px;
}

.form-search {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
}

.form-search button {
    height: 35px;
    background-color: rgb(245, 73, 4);
    border: 1px solid rgb(245, 73, 4);
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

.form-search button:hover {
    background-color: rgb(216, 61, 0);
    transition: all ease 0.3s;
}

.flights-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.items-flight {
    width: 70%;
    margin-top: 20px;
}

.item-block {
    width: 70%;
}

.item-flight {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    padding: 15px 15px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #fff;
}

.item-blocks {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.item-flight:hover {
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    transition: all ease 0.3s;
}

.item-border {
    position: relative;
    bottom: 7px;
    width: 29%;
    border-bottom: 1px solid silver;
}

.item-time {
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.item-start-time {
    display: flex;
    font-weight: 600;
}

.item-start-time span:nth-child(2) {
    margin-left: 28px;
    font-size: 25px;
}

.item-flight-time {
    display: flex;
    justify-content: center;
    width: 138px;
}

.item-flight-time span:nth-child(1) {
    margin-right: 10px;
    font-size: 22px;
}

.item-flight-time span:nth-child(2) {
    font-size: 20px;
}

.item-finish-time {
    display: flex;
    font-weight: 600;
}

.item-finish-time span:nth-child(1) {
    margin-right: 20px;
    font-size: 22px;
}

.item-date {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 15px;
    color: rgb(128, 128, 128);
}

.item-position {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.btn-buy {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.btn-flight-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-flight-info a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
}

.btn-flight-info a:hover {
    color: #db4900;
    transition: all ease 0.3s;
}

.free-place {
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-place span {
    color: #db4900;
}

.btn-buy-modal button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height:35px;
    font-size: 18px;
    border-radius:5 px;
    background-color: rgb(245, 73, 4);
    border: 1px solid rgb(245, 73, 4);
    padding: 5px 10px;
    cursor: pointer;
    color: #000;
}

.btn-buy-modal button span {
    margin-left: 20px;
}

.btn-buy-modal button:hover {
    background-color: rgb(216, 61, 0);
    transition: all ease 0.3s;
}

.item-time span input {
    width: 60%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid silver;
}

.item-date span input {
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid silver;
}

.item-position span input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid silver;
}

.free-place span input {
    width: 10%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid silver;
}

.btn-buy div:nth-child(3) input {
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid silver;
}

.change-flight {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

.change-flight button {
    margin-left: 2px;
    border-radius: 10px;
    width: 120px;
    cursor: pointer;
    border: 1px solid silver;
    font-size: 14px;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.page-more {
    width: 60%;
}

.page-none {
    display: none;
}

.page-more button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #00d200;
    background-color: #00d200;
    color: white;
    cursor: pointer;
}

.page-more button:hover {
    background-color: #00c000;
    transition: all 0.3s ease;
}

.page-wrapper-none {
    display: none;
}

.page-wrapper {
    display: flex;
    margin-top: 10px;
}

.page-wrapper a {
    text-decoration: none;
    color: #000;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: 18px;
    border: 1px solid silver;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 1px;
}

.page-current {
    border: 2px solid #00c000;
    background-color: #6de46d;
    font-weight: bold;
}

.page:hover {
    border: 2px solid #00c000;
    font-weight: bold;
    transition: all ease 0.3s;
}

.admin-delete-flight button {
    margin-left: 2px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    border: 1px solid silver;
    font-size: 14px;
}


@media (max-width: 992px) {
    .items-flight {
        width: 99%;
    }

    .page-more {    
        width: 70%;
    }

    .flights-sort-form {
        width: 99%;
    }

    .form-flights {
        flex-direction: column;
    }

    .form-position {
        width: 50%;
    }

    .form-date,
    .form-people,
    .form-search {
        width: 100%;
    }

    .dropdown-list {
        position: absolute;
        top: 110%;
        left: 0;
    }

    .form-block-ticket,
    .form-block-contact,
    .form-block-bank {
        width: 90%;
    }

    .form-btn-back div {
        width: 92%;
    }
}
@media (max-width: 768px) {
    .items-flight {
        width: 99%;
    }

    .page-more {
        width: 80%;
    }

    .form-flights {
        flex-direction: column;
    }

    .dropdown-list {
        position: absolute;
        top: 110%;
        left: 0;
    }

    .btn-buy {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .btn-buy div {
        margin-top: 5px;
    }

    .item-flight {
        height: auto;
    }

    .btn-buy div:nth-child(3) button {
        width: 200px;
    }

    .btn-buy div:nth-child(3) button div {
        margin-bottom: 5px;
    }

    .from-block-input-number-email {
        display: flex;
        flex-direction: column;
    }

    .from-block-input-number-email div {
        width: 100%;
        margin-top: 10px;
    }

    .input-month-year-cvc div:nth-child(1),
    .input-month-year-cvc div:nth-child(2) {
        width: 50%;
    }

    .input-card {
        width: 100%;
    }

    .input-persone-card {
        width: 100%;
    }

    .buy-ticket button {
        width: 50%;
    }

    .item-start-time span:nth-child(2) {
        display: none;
    }

    .item-finish-time span:nth-child(1) {
        display: none;
    }

    .item-border {
        display: none;
    }
}

@media (max-width: 576px) {
    .items-flight {
        width: 99%;
    }

    .page-more {
        width: 90%;
    }

    .item-time {
        font-size: 22px;
    }

    .item-position {
        font-size: 18px;
    }
    .page {
        width: 40px;
        height: 40px;
        font-size: 17px;
        border-radius: 20px;
    }

    .form-block-position {
        display: flex;
        flex-direction: column;
    }

    .form-block-position div:nth-child(1) {
        margin-bottom: 2px;
    }

    .form-position {
        width: 99%;
    }

    .form-block-date {
        display: flex;
        flex-direction: column;
    }

    .form-block-date div {
        margin-bottom: 5px;
    }

    .form-date,
    .form-people,
    .form-search {
        width: 99%;
    }

    .form-btn {
        display: flex;
        flex-direction: column;
    }

    .form-btn div {
        margin-bottom: 10px;
    }

    .dropdown-list {
        position: absolute;
        top: 110%;
        left: 0;
    }

    .buy-ticket {
        display: flex;
        flex-direction: column;
    }

    .buy-ticket button {
        width: 100%;
        margin-top: 10px;
    }
}