.order-container {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
}
  
.accordion-header-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-orders {
    display: flex;
    flex-direction: column-reverse;
}

.accordion-item-order {
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-top: 10px;
}

.accordion-order-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 75%;
    padding: 1em 0;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    cursor:pointer;
}

.accordion-order-btn:hover {
    color: #F9AB55;
}

.accordion-order-btn:focus {
    color: #F58A07;
}

.accordion-content-order.show {
      opacity: 1;
      max-height: 9999px;
      transition: all 500ms linear;
      will-change: opacity, max-height;
      transition: all 0.7s cubic-bezier(0,1,0,1);
}

.accordion-content-order {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 500ms linear, max-height 500ms linear;
      will-change: opacity, max-height;
      transition: all 0.7s cubic-bezier(0,1,0,1);
} 
  
.accordion-content-order p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
}


.order-flight-pdt {
    width: 75%;
}

.order-flight-pdt div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.order-flight-ticket {
    display: flex;
    flex-direction: column;
}

.order-flight-ticket span {
    margin-top: 10px;
}

.order-status-btn {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.order-status-btn div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
}

.order-status-btn div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-status-btn div:nth-child(1) button {
    border-radius: 5px;
    background-color: #084887;
    border: 1px solid #084887;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
    color: #FBFBFE;
}

.order-status-btn div:nth-child(1) button:hover {
    background-color: #FBFBFE;
    color: #084887;
    transition: all ease 0.3s;
}

.order-status-btn div:nth-child(2) button {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.order-status-btn div:nth-child(2) button:hover {
    color: red;
}

.order-iconc-close {
    font-size: 25px;
    color: red;
}

.order-iconc-check {
    font-size: 20px;
    color: green;
}

@media (min-width:1024px) {
    .container-orders {
        margin: auto;
        width: 60%;
    }
}

@media (max-width:1024px) {
    .container-orders{
        margin: auto;
        width: 80%;
    }
}

@media (max-width:768px) {
    .container-orders {
        margin: auto;
        width: 98%;
    }
}

@media (max-width:576px) {
    .container-orders {
        margin: auto;
        width: 98%;
    }

    .accordion-order-btn {
        display: flex;
        flex-direction: column;
    }

    .accordion-order-btn span { 
        margin-bottom: 5px;
    }

}