.container-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.block-user {
    width: 40%;
}

.block-user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-user-icon span {
    margin-top: 10px;
}

.block-user-icon span:nth-child(1) {
    font-size: 75px;
    color: #084887;
}

.block-user-icon span:nth-child(2) {
    font-size: 25px;
}

.block-user-icon span:nth-child(3) {
    font-size: 17px;
    color: #F9AB55;
}

.block-user-info div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.block-user-info div:nth-child(1) span:nth-child(1) {
    color: #F9AB55;
}

.block-user-info div:nth-child(1) span:nth-child(2) {
    font-size: 18px;
    margin-top: 5px;
}


.block-user-info div:nth-child(2) span:nth-child(1) {
    color:#F9AB55;
}

.block-user-info div:nth-child(2) span:nth-child(2) {
    font-size: 18px;
    margin-top: 5px;
}

.block-user-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.block-user-btn button {
    border-radius: 5px;
    width: 50%;
    background-color: #084887;
    border: 1px solid #084887;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
    color: #FBFBFE;
}

.block-user-btn button:hover {
    background-color: #FBFBFE;
    color: #084887;
    transition: all ease 0.3s;
}

.block-user-input {
    margin-top: 15px;
}

.block-user-input summary {
    cursor: pointer;
    font-size: 18px;
}

.block-user-password {
    margin-top: 10px;
}

.block-user-password div {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.block-user-password button{
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.block-user-password button:hover{
    color: #084887;
    text-decoration: underline;
    transition: all ease 0.3s;
}

.block-history {
    margin-top: 20px;
}

.block-history details summary {
    font-size: 18px;
    cursor: pointer;
}

.account-container {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    color: #000;
}

.accordion-item-account button {
      position: relative;
      display: flex;
      justify-content: space-between;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
      font-weight: 700;
}

.accordion-item-account button:hover {
        cursor: pointer;
}
  
.accordion-item-account button:focus {
    cursor: pointer;
    color: #F58A07;
}

.accordion-item-account button[aria-expanded='true'] {
    color: #F58A07;
}

.accordion-street {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-street div {
    width: 50%;
}

.accordion-street-finish {
    text-align: right;
}

.account-processing {
    color: black;
}
   
.accordion-content-account.show {
    opacity: 1;
    max-height: 9999px;
    transition: all 500ms linear;
    will-change: opacity, max-height;
    transition: all 0.7s cubic-bezier(0,1,0,1);
}
  
.accordion-content-account {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 500ms linear, max-height 500ms linear;
    will-change: opacity, max-height;
    transition: all 0.7s cubic-bezier(0,1,0,1);
}

.accordion-content-account div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.account-price-place {
    display: flex;
    flex-direction: column;
}

.account-price-place span {
    margin-top: 5px;
}


@media (max-width:992px) {
    .block-user {
        width: 50%;
    }
}

@media (max-width:768px) {
    .block-user {
        width: 70%;
    }
}

@media (max-width:578px) {
    .block-user {
        width: 90%;
    }
}
